@import "../../style/colors";

.sort {
  display: flex;
  color: $lightGray;
  font-weight: 300;

  h3 {
    margin-left: 30px;
    font-weight: 400;
    cursor: pointer;
  }

  &__options {
    color: $white;
  }
}
